aws {
    accessKey = '**********************'
    secretKey = '***************************************'
    region = '**********'
}


plugins {
  id 'nf-dotenv'
  id 'nf-prov'
  id 'nf-validation@1.1.3'
}


params {
    help = false
    samplesheet = null
    outdir = null

}


process {


      withName: lima_both_end {
      memory = '32.0G'
      cpus = 8
      container = 'quay.io/biocontainers/lima:2.7.1--h9ee0642_0'
  }     
  
      withName: lima_either_end {
      memory = '32.0G'
      cpus = 8
      container = 'quay.io/biocontainers/lima:2.7.1--h9ee0642_0'
  }     
  

      withName: LIST_HYBRIDS {
      memory = '12.0G'
      cpus = 6
      container = 'seqwell/longplexpy:latest'
  }  
  
  
     withName: REMOVE_HYBRIDS {
      memory = '12.0G'
      cpus = 6
      container = 'seqwell/longplexpy:latest'
  }  

      withName: merge_reads {
      memory = '8.0G'
      cpus = 4
      container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1'
  }   
  
 
      withName: demux_stats {
      memory = '6.0G'
      cpus = 2
      container = 'rocker/verse:4.3.1'
  }   
  
      withName: fastqc {
      memory = '8.0G'
      cpus = 4
      container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
  }
  
  
      withName: multiqc {
      memory = '8.0G'
      cpus = 4
      container = 'quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0'
  }   
      
}



profiles {

  aws {
    docker.enabled = true
      }


  singularity {
    singularity.enabled = true 
      }

  apptainer {
      apptainer.enabled = true 
        }

}



manifest {
    name            = 'pacbio demux'
    description     = 'pacbio demux workflow.'
    mainScript      = 'pacbio_demux_bbduk_test.nf'
    nextflowVersion = '>=24.04.3.5916'
    version         = '0.1.0'


}

