.nextflow*
work/
__pycache__
.logs


# Pipeline outputs
output/
test_output/
test_output_renamed/

# Other
README.html
old
temp
**/old_working
old_working
tests/subset.bam
**/new_not_right
nextflow_schema.json_old